Q1. Create a python to sort the given list of tuples based on integer value using a lamda function.
[('Sachine Tendulkar',34357),('Ricky Ponting',27483),('Jack Kallis',25534),('Virat Kohli',24936)]

In [ ]:
def sort_tuples(tuples, key_idx):
  key_func = lambda x: x[key_idx]
  sorted_tuples = sorted(tuples, key=key_func)
  return sorted_tuples


tuples = [('Sachine Tendulkar',34357),('Ricky Ponting',27483),('Jack Kallis',25534),('Virat Kohli',24936)]
sorted_tuples = sort_tuples(tuples, 1)
print(sorted_tuples)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachine Tendulkar', 34357)]

Q2. write a python program to find the squares of all the numbers in the given list of integers using lamda and map functions.
[1,2,3,4,5,6,7,8,9,10]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]
result = map(lambda x:x*x,numbers)
print(list(result))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. write a python program to convert the given list of integers into a tuple of strings.use map and lambda functions.

Given String:[1,2,3,4,5,6,7,8,9,10]

Expected Output:('1','2','3','4','5','6','7','8','9','10')

In [ ]:
string = [1,2,3,4,5,6,7,8,9,10]
result = tuple(list(map(lambda x:str(x),string)))
print(result)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [ ]:
import functools
import operator
print("The product of the list is",functools.reduce(operator.mul,[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]))

The product of the list is 15511210043330985984000000

Q5. write a python program to filter the numbers in the given list that are divisible by 2 and 3 [2,3,6,9,27,60,90,120,55,46].

In [ ]:
lis = [2,3,6,9,27,60,90,120,55,46]
for i in lis:
  if i%2==0 and i%3==0:
    print(i)

6
60
90
120

Q6. write a python program to find palindromes in the given list of strings using lambda and filter function.['python','php','aba','radar','level']

In [ ]:
texts = ['python','php','aba','radar','level']
result = list(filter(lambda x:x==x[::-1],texts))
print("List of palindromes are:", result)

List of palindromes are: ['php', 'aba', 'radar', 'level']